@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&family=DM+Serif+Display:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1, h2, h3, h4, h5, h6{
        @apply font-dm_serif_display font-bold z-1 tracking-wide;
    }
    body{
        @apply font-archivo font-normal text-regular z-1;
    }
}


@layer components{
    .dropdown {
        @apply flex-col gap-4 min-w-max lg:w-[250px] mt-2 lg:mt-0 bg-white dark:bg-black border border-stroke dark:border-strokedark shadow-solid-13 ease-in duration-300 px-8 py-5 rounded-md -left-7.5 hidden
        lg:translate-y-10 lg:opacity-0 lg:invisible lg:absolute lg:flex
        lg:before:absolute lg:before:-top-1.5 lg:before:left-10 lg:before:w-3 lg:before:h-3 lg:before:border-l lg:before:border-t lg:before:border-stroke lg:dark:before:border-strokedark lg:before:bg-white lg:dark:before:bg-black lg:before:rotate-45
        lg:group-hover:translate-y-6.5 lg:group-hover:opacity-100 lg:group-hover:visible;
    }
}